<div class="template" *ngIf="showTemplate">
  <button class="btn-temp" type="upload" (click)="showTemplate = false">+ Template</button>
</div>

<article class="container" *ngIf="!showTemplate">
  <header class="header">
    <h1 class="headerTitle">Header</h1>
  </header>
  <div class="parentCont">

    <div class="imgGallery">
      <div>
        <input type="file" multiple (change)="handleImage($event)" #fileUpload hidden>
        <button class="btn-upload" type="upload" (click)="fileUpload.click()">Browse Images</button>
        <h2>Layers</h2>
        <div style="display: flex;margin-bottom: 16px;" *ngFor="let image of images;let i = index">

          <img class="listImg" [src]="image.img" alt="Image" />
          <span style="padding: 0px 8px; word-break: break-all;color: #707070;">
            {{image.name}}

          </span>

        </div>
      </div>
    </div>

    <div class="canvasCont">
      <h2>Layers</h2>
      <canvas class="canvasArea" #myCanvas></canvas>
    </div>

    <div class="canvasCont">
      <h2>Resize</h2>
      <div *ngFor="let image of images;let i = index">
        <div class="resize-container">
          <span class="resize-handle resize-handle-nw"></span>
          <span class="resize-handle resize-handle-ne"></span>
          <img class="resize-image" [attr.id]="'img' + i" [src]="image.img" alt="Image" />
          <span class="resize-handle resize-handle-se"></span>
          <span class="resize-handle resize-handle-sw"></span>
        </div>
      </div>
    </div>
  </div>
</article>